*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* Root variable here  */
:root{
    --sticky_background : rgb(4, 0, 48);
    --color_white: #fff;
    --color_black: #000;
}

/* common css start here  */
body{
    background: #fff;
}
section{
    padding: 60px 0px;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
}
.bar_icon{
    display: none;
}
/* common css End here  */

/* Header css start here  */
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0px;
    background: var(--color_white);
    border-bottom: 1px solid rgba(221, 221, 221, 0.205);
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease-in-out;
}
header.active{
    background: var(--sticky_background);
    transition: all 0.3s ease-in-out;
    /* box-shadow: 3px 3px 14px rgba(4, 0, 48, 0.1); */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo a{
    font-size: 28px;
    font-weight: 700;
    color: var(--color_black);
}
header.active nav .logo a{
    color: var(--color_white);
}
nav .menu ul{
    display: flex;
    align-items: center;
}
nav .menu ul li{
    margin-left: 20px;
}
nav .menu ul li a{
    font-size: 18px;
    font-weight: 400;
    color: var(--color_black);
}
header.active nav .menu ul li a{
    color: var(--color_white);
}


/* MOBILE SCREEN CSS  */
.bar_icon .fa-solid{
    font-size: 30px;
    color: var(--sticky_background);
    cursor: pointer;
}
#times{
    display: none;
}
header.active .bar_icon .fa-solid{
    font-size: 30px;
    color: var(--color_white);
    cursor: pointer;
}

.main_layout{
    position: fixed;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background: var(--sticky_background);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-80%,-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}
.main_layout.active{
    transform: translate(0,0);
    opacity: 11;
    visibility: visible;
    transition: all 0.2s ease-in-out;
}
.layout_flex_content{
    text-align: center;
}
.layout_flex_content .layout h3{
    font-size: 50px;
    color:var(--color_white);
    margin-bottom: 10px;
}
.layout_flex_content .layout img{
    width: 100px;
}
/* Header css End here  */

/* Home content css start here  */
#home{
    margin-top: 75px;
    /* background: red; */
}
#home .table_width{
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    overflow-x: auto;
}
#home table{
    border-collapse: collapse;
    width: 100%;
    min-width: 500px;
    
}

table tr, table td, table tr th{
    border: 1px solid rgba(221, 221, 221, 0.822);
    padding: 10px;
    text-align: center;
    
}

table tr:nth-child(even){
    background: #fafafa;
}

td span{
    margin: 0px 15px;
    color: #000;
    font-size: 16px;
}
/* Home content css end here  */



/* about content css start here  */

#about{
    height: 100vh;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about .about_content{
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about_content h2{
    font-size: 60px;
    margin-bottom: 20px;

}
.about_content button{
    width: 220px;
    height: 50px;
    /* line-height: 50px; */
    font-size: 18px;
    font-weight: 500;
    color:rgb(4, 0, 48);
    border: 1px solid rgb(4, 0, 48);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}
.about_content button:hover{
    background: rgb(4, 0, 48);
    color: #fff;
    cursor: pointer;
}
/* about content css end here  */


/* Responsive css here  */
@media (max-width : 480px) {
    header .menu{
        display: none;
    }
    header .bar_icon{
        display: block;
    }
}